<head>
    <title>Torrent Contents Explorer: FBI Not Allowed</title>
    <meta name="description" content="Open files in browser, no need to download to PC"/>
    <meta name="keywords" content="piratebay, thepiratebay, rutracker, nyaa pantsu">

    <meta property="twitter:site" content="@kunkka-torrent">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:image:src" content="https://kunkka-torrent.online/assets/img/kunkka-torrent-masked.png">
    <meta property="twitter:title" content="Torrent Contents Explorer">
    <meta property="twitter:description" content="Open files in browser, no need to download to PC">

    <!-- FB, VK i drugie -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Torrent Contents Explorer">
    <meta property="og:description" content="Open files in browser, no need to download to PC">
    <meta property="og:image" content="https://kunkka-torrent.online/assets/img/kunkka-torrent-masked.png">
    <meta property="og:image:width" content="640">
    <meta property="og:image:height" content="300">

    <meta charset="utf-8"/>
    <link rel="icon" href="./favicon.ico"/>
    <link rel="stylesheet" href="./styles/common.css"/>
</head>

<!-- possibly should move it to /public/ -->
<style>
    .first-episodes-card-list {
        text-align: center;
    }
    .first-episodes-card-list > div {
        display: inline-block;
        margin: 4px;
        border: solid #565555 2px;
        background-color: #3d4044d9;
    }
    .first-episodes-card-list > div > div > h4 {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .first-episodes-card-list > div > div > div {
        width: 512px;
        height: 288px;
        position: relative;
        flex: 1;
        display: flex;
    }
    .first-episodes-card-list video {
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
        height: 100%;
        position: absolute;
        object-fit: contain;
        background-image: url(./assets/img/static_noise.png);
    }
</style>

<body>
    <header>
        <div class="header-text-block-space">
            <div class="header-title-with-search-form">
                <div class="header-main-title">
                    <a href="https://kunkka-torrent.online">
                        <span class="kunkka-color">kunkka</span>-<span class="torrent-color">torrent</span>
                    </a>
                </div>
                <div>
                    <form method="get" action="./views/search.html">
                        <input required="required" placeholder="Type file name here" name="pattern" type="text"/>
                        <select name="category">
                            <option selected value="all">All categories</option>
                            <option disabled="">──────────</option>
                            <option value="anime">Anime</option>
                            <option value="books">Books</option>
                            <option value="games">Games</option>
                            <option value="movies">Movies</option>
                            <option value="music">Music</option>
                            <option value="pictures">Pictures</option>
                            <option value="software">Software</option>
                            <option value="tv">TV shows</option>
                        </select>
                        <input type="hidden" name="plugins" value="all"/>
                        <button>Search</button>
                    </form>
                </div>
            </div>
            <p class="title-secondary-text">Torrent contents explorer - open files in browser, no need to download to PC</p>
        </div>
        <div class="header-image-remainder-space"></div>
    </header>

<!-- TODO: indent -->
<main style="text-align: center">
    <h2>Watch Online Before FBI Puts Me Down</h2>
    <h3>Editor's Choice</h3>

    <!-- would be cool, if guy already watched first episode (localStorage) to suggest next unwatched episode in this list -->
    <!-- also, for visual purposes would be cool to scroll video to random point (on playback start event - rewind to start on the first time) -->
    <div class="first-episodes-card-list">
        <div><div>
            <h4>My Little Pony S01E01</h4>
            <div>
                <video controls="controls" src="./kunkka_host/handmade/torrent_downloads_webm/MLPFiM/Season%201/MLP_FiM%20-%20S01E01%20-%20Friendship%20is%20Magic%20Part%201.mkv.better_bitrate.mkv">
                    <track src="./kunkka_host/handmade/torrent_downloads/MLPFiM/Season%201/subs.vtt" default kind="subtitles" label="English" srclang="en"/>
                </video>
            </div>
        </div></div>
        <div><div>
            <h4>Kenan And Kel S01E01</h4>
            <div>
                <video controls="controls" src="./kunkka_host/handmade/torrent_downloads/Kenan%20And%20Kel%20Complete%20Pack%20(Tv%20series,%20Pilot,%202%20movies)%20(WAZZ)/Kenan%20And%20Kel%20Season%201/h264.mp4">
                    <track default kind="subtitles" label="English" srclang="en"/>
                </video>
            </div>
        </div></div>
        <div><div>
            <h4>Mob Psycho 100 S01E01</h4>
            <div>
                <video controls="controls" src="./kunkka_host/handmade/torrent_downloads/Mob%20Psycho%20100%20Season%201%20%5BEng%20Sub%5D/Mob%20Psycho%20100%20-%2001%20%5B1080p%5D.mkv">
                    <track default kind="subtitles" label="English" srclang="en"/>
                </video>
            </div>
        </div></div>
        <div><div>
            <h4>Breaking Bad S01E01</h4>
            <div>
                <video controls="controls" src="./kunkka_host/handmade/torrent_downloads/Breaking%20Bad/Breaking%20Bad%20Season%201/Breaking%20Bad%20-%20%5B1x01%5D%20-%20Pilot.mkv">
                    <track src="./kunkka_host/handmade/torrent_downloads/Breaking%20Bad/Breaking%20Bad%20Season%201/S01E01.vtt" default kind="subtitles" label="English" srclang="en"/>
                </video>
            </div>
        </div></div>
        <div><div>
            <h4>Adventure Time S01E01</h4>
            <div>
                <video controls="controls" src="./kunkka_host/handmade/torrent_downloads/Adventure%20Time%20S01-S10%20(2010-)/Adventure%20Time%20S01%20(360p%20re-blurip)/Adventure%20Time%20S01E01%20Slumber%20Party%20Panic.mp4">
                    <track default kind="subtitles" label="English" srclang="en"/>
                </video>
            </div>
        </div></div>
        <div><div>
            <h4>Humanity Declined S01E01</h4>
            <div>
                <video controls="controls" src="./kunkka_host/handmade/torrent_downloads/Jinrui%20wa%20Suitai%20Shimashita/%5BNemDiggers%5D%20Jinrui%20wa%20Suitai%20Shimashita%20-%2001%20%5BBD%5D%20%5B720p%5D%20%5BH264%20AAC%20MP4%5D.mp4">
                    <track default kind="subtitles" label="English" srclang="en"/>
                </video>
            </div>
        </div></div>
        <div><div>
            <h4>Daria S01E01</h4>
            <div>
                <video controls="controls" src="./kunkka_host/handmade/torrent_downloads/Daria/Season%201/Daria%20-%20S01E01%20-%20Esteemsters.mp4">
                    <track default kind="subtitles" label="English" srclang="en"/>
                </video>
            </div>
        </div></div>
        <div><div>
            <h4>Rick And Morty S01E01</h4>
            <div>
                <video controls="controls" src="./kunkka_host/handmade/torrent_downloads/Rick%20and%20Morty/Rick%20and%20Morty%20-%20Season%201/Rick%20and%20Morty%20-%20S01E01%20-%20Pilot.mp4">
                    <track default kind="subtitles" label="English" srclang="en"/>
                </video>
            </div>
        </div></div>
        <div><div>
            <h4>Steven Universe S01E01</h4>
            <div>
                <video controls="controls" src="./kunkka_host/handmade/torrent_downloads/%5BAliQ%5D%20Steven%20Universe%20Season%201%20%5B1080p%20WEB_DL%20x264%5D/%5BAliQ%5D%20S01E01%20-%20Gem%20Glow.mp4">
                    <track default kind="subtitles" label="English" srclang="en"/>
                </video>
            </div>
        </div></div>
    </div>

    <div>
        <div>Simple HEVC/H.265 bitstream player in pure JavaScript.</div>
        <div><small>Copyright &copy; 2014 by <a href="http://www.struktur.de">struktur AG</a></small></div>
        <canvas id="video" width="0" height="0"></canvas>
    </div>
    <button id="play">Play</button>
    <span id="status"></span>

</main>

<script src="https://cdn.jsdelivr.net/npm/webtorrent@latest/webtorrent.min.js"></script>
<script>
(() => {
    /** @param {HTMLElement} parent */
    const shuffleChildren = (parent) => {
        const cards = [...parent.children];
        for (const child of cards) {
            const newPlace = Math.floor(Math.random() * cards.length);
            parent.insertBefore(child, cards[newPlace + 1] || null);
        }
    };

    // var torrentId = 'magnet:?xt=urn:btih:241FA42D67355718C9DD71E6F0B5B2459D77361E';
    // var torrentId = 'magnet:?xt=urn:btih:08ada5a7a6183aae1e09d831df6748d566095a10&dn=Sintel&tr=udp%3A%2F%2Fexplodie.org%3A6969&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969&tr=udp%3A%2F%2Ftracker.empire-js.us%3A1337&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337&tr=wss%3A%2F%2Ftracker.btorrent.xyz&tr=wss%3A%2F%2Ftracker.fastcast.nz&tr=wss%3A%2F%2Ftracker.openwebtorrent.com&ws=https%3A%2F%2Fwebtorrent.io%2Ftorrents%2F&xs=https%3A%2F%2Fwebtorrent.io%2Ftorrents%2Fsintel.torrent';
    var torrentId = 'magnet:?xt=urn:btih:241fa42d67355718c9dd71e6f0b5b2459d77361e&dn=Steven.Universe.The.Movie.2019.720p.WEBRip.NewStation.mkv&tr=http%3A%2F%2Fbt01.nnm-club.cc%3A2710%2Fffffffffd18150cb8e66c02d6822c1f0%2Fannounce&tr=http%3A%2F%2Fbt01.nnm-club.info%3A2710%2Fffffffffd18150cb8e66c02d6822c1f0%2Fannounce&tr=http%3A%2F%2Fretracker.local%2Fannounce.php%3Fsize%3D1515809210%26comment%3Dhttp%253A%252F%252Fnnmclub.to%252Fforum%252Fviewtopic.php%253Fp%253D10413891%26name%3D%25C2%25F1%25E5%25EB%25E5%25ED%25ED%25E0%25FF%2B%25D1%25F2%25E8%25E2%25E5%25ED%25E0%253A%2B%25D4%25E8%25EB%25FC%25EC%2B%252F%2BSteven%2BUniverse%253A%2BThe%2BMovie%2B%25282019%2529%2BWEBRip%2B%2B%255BH.264%252F720p-LQ%255D%2B%2528MVO%2529&tr=http%3A%2F%2F%5B2001%3A470%3A25%3A482%3A%3A2%5D%3A2710%2Fffffffffd18150cb8e66c02d6822c1f0%2Fannounce';
    // var torrentId = 'https://webtorrent.io/torrents/sintel.torrent';

    var client = new WebTorrent();

    client.add(torrentId, function (torrent) {

        console.log('ololo torrent', torrent);

        // Torrents can contain many files. Let's use the .mp4 file
        var file = torrent.files.find(function (file) {
            return file.name.endsWith('.mkv');
        });

        // Stream the file in the browser
        file.appendTo('#output');

        // Trigger statistics refresh
        torrent.on('done', onDone);
        setInterval(onProgress, 500);
        onProgress();

        // Statistics
        function onProgress () {
            console.log('progress', {...torrent});
        }
        function onDone () {
            console.log('ololo done');
            onProgress();
        }
    });

    const firstEpisodesCardList = document.querySelector('.first-episodes-card-list');
    shuffleChildren(firstEpisodesCardList);
    [...firstEpisodesCardList.querySelectorAll('video')].forEach(video => {
        video.currentTime = Math.random() * 11 * 60;
    });
})();
</script>

<script src="https://unpkg.com/@ffmpeg/ffmpeg@0.9.4/dist/ffmpeg.min.js"></script>
<script>
(async () => {
    var VIDEO_URL = "./kunkka_host/handmade/torrent_downloads/Steven.Universe.Future.2019.1080p.WEB-DL.OPUS.x265.HEVC-TCZ/Season%201/Steven%20Universe%20Future%20-%20S01E02%20-%20%5Bx265%20Opus%20%5BEN%5D%5D%20-%20%5BWEBDL-1080p%5D.mkv";
    // var VIDEO_URL = "./kunkka_host/handmade/torrent_downloads/Steven.Universe.Future.2019.1080p.WEB-DL.OPUS.x265.HEVC-TCZ/Season%201/bbb.mkv";
    // var VIDEO_URL = "https://strukturag.github.io/libde265.js/spreedmovie.hevc";

    // const { createFFmpeg, fetchFile } = FFmpeg;
    // const ffmpeg = createFFmpeg({
    //     log: true,
    //     progress: (step) => {
    //         console.log('step huj', step);
    //     },
    // });
    // await ffmpeg.load();
    //
    // const inputBuf = await fetch(VIDEO_URL).then(rs => rs.arrayBuffer());
    // const inputBytes = new Uint8Array(inputBuf);
    // ffmpeg.FS('writeFile', 'zalupa.mkv', await fetchFile(inputBytes));
    // await ffmpeg.run('-i', 'zalupa.mkv', '-c:v', 'libx264', '-preset', 'ultrafast', '-crf', '51', '-vf', 'scale=480:-2,setsar=1:1', 'output.mp4');

    // await ffmpeg.run('-i', name, 'output.mp4');
    //
    // console.log('converting mkv to mp4', inputBuf);
    // const outputBuf = mkvToMp4();
    // console.log('converted', outputBuf);
    // const blob = new Blob([outputBuf], {type: 'video/mp4'});
    // const dataUri = window.URL.createObjectURL(blob);
    //
    function mkvToMp4(arrayBuffer) {
        var result = ffmpeg({
            MEMFS: [{name: "sample.mkv", data: arrayBuffer}],
            arguments: ["-i", "sample.mkv", "-c", "copy", "out.mp4"],
            // Ignore stdin read requests.
            stdin: function() {},
        });
        // Write out.webm to disk.
        var out = result.MEMFS[0];
        if (!out) {
            throw new Error('Could not convert video')
        }
        return Uint8Array.from(out.data)
    }
    //
    // (async () => {
    //     await ffmpeg.load();
    //
    //
    //
    //     ffmpeg.FS('writeFile', 'test.avi', await fetchFile('./test.avi'));
    //     await ffmpeg.run('-i', 'test.avi', 'test.mp4');
    //     await fs.promises.writeFile('./test.mp4', ffmpeg.FS('readFile', 'test.mp4'));
    //     process.exit(0);
    // })();
})();
</script>

</body>
