
tbody {
    background-color: #1b325dba;
}
.seeders-number {
    color: lightgreen;
    text-align: right;
}
.seeders-number.suspicious-seeds {
    color: #485d48;
}
.leechers-number {
    color: lightcoral;
    text-align: right;
}
.torrent-size {
    text-align: right;
}
.torrent-file-name {
    font-size: 12px;
}
table.resulting-list-of-torrents {
    width: 100%;
}
tr:not(.expanded-view-row):hover {
    filter: brightness(1.3);
    background-color: #33466970;
}
video {
    max-width: 640px;
    max-height: 480px;
}


#selected_video_ffmpeg_info {
    white-space: pre-wrap;
    max-height: 300px;
    overflow-y: auto;
    background-color: #eaeaea;
}

.stream-list span,
.stream-list span {
    margin: 0px 4px;
}

.stream-list span.bad-codec {
    color: red;
}
.stream-list span.good-codec {
    color: green;
}
.stream-list [data-codec-type="attachment"] {
    color: grey;
    opacity: 0.7;
}

.very-big-torrent {
    color: #b93636;
}
.big-torrent {
    color: #ff5400;
}
.single-episode-torrent {
    color: #987c2a;
}
.small-torrent {
    color: grey;
}

.expanded-torrent-block {
    justify-content: space-between;
    display: flex;
    font-size: 12px;
}
.expanded-torrent-block * {
    font-size: 12px;
}
.expanded-view-left-section {
    max-height: 800px;
    overflow-y: auto;
}
.player-cont {
    max-height: 800px;
    overflow-y: auto;
}

.media-info-section > div {
    margin-top: 6px;
}

tbody.files-in-torrent > tr[data-file-extension="srt"],
tbody.files-in-torrent > tr[data-file-extension="ass"],
tbody.files-in-torrent > tr[data-file-extension="aac"],
tbody.files-in-torrent > tr[data-file-extension="jpg"] {
    /* external subs/audio files, should not be of big interest to user */
    color: grey;
}

tbody.files-in-torrent > tr[data-file-extension="mp4"],
tbody.files-in-torrent > tr[data-file-extension="mkv"],
tbody.files-in-torrent > tr[data-file-extension="mpg"],
tbody.files-in-torrent > tr[data-file-extension="avi"],
tbody.files-in-torrent > tr[data-file-extension="mov"],
tbody.files-in-torrent > tr[data-file-extension="flac"] {
    /* actual video files, the main thing that should interest the user */
    color: #b3ffff;
}

tr.viewed-file {
    background-color: #288e7296;
}

.ffmpeg-info:not(.can-change-audio-track) [name="selectedAudioTrack"],
.ffmpeg-info:not(.can-change-audio-track) audio {
    display: none;
}

#show-rutracker-flag:not(:checked) + * tr[data-tracker="rutracker.org"] {
    display: none;
}