<head>
    <title>Torrent Contents Explorer: Search</title>
    <meta name="description" content="Open files in browser, no need to download to PC"/>
    <meta name="keywords" content="piratebay, thepiratebay, rutracker, nyaa pantsu">

    <meta property="twitter:site" content="@kunkka-torrent">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:image:src" content="https://kunkka-torrent.online/assets/img/kunkka-torrent-masked.png">
    <meta property="twitter:title" content="Torrent Contents Explorer">
    <meta property="twitter:description" content="Open files in browser, no need to download to PC">

    <!-- FB, VK i drugie -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Torrent Contents Explorer">
    <meta property="og:description" content="Open files in browser, no need to download to PC">
    <meta property="og:image" content="https://kunkka-torrent.online/assets/img/kunkka-torrent-masked.png">
    <meta property="og:image:width" content="640">
    <meta property="og:image:height" content="300">

    <meta charset="utf-8"/>
    <link rel="icon" href="./../favicon.ico"/>
    <link rel="stylesheet" href="../styles/common.css"/>
    <link rel="stylesheet" href="./search.css"/>
</head>

<body>
    <header>
        <div class="header-text-block-space">
            <div class="header-title-with-search-form">
                <div class="header-main-title">
                    <a href="https://kunkka-torrent.online">
                        <span class="kunkka-color">kunkka</span>-<span class="torrent-color">torrent</span>
                    </a>
                </div>
                <div>
                    <form method="get" action="./search.html">
                        <input required="required" placeholder="Type file name here" name="pattern" type="text"/>
                        <select name="category">
                            <option selected value="all">All categories</option>
                            <option disabled="">──────────</option>
                            <option value="anime">Anime</option>
                            <option value="books">Books</option>
                            <option value="games">Games</option>
                            <option value="movies">Movies</option>
                            <option value="music">Music</option>
                            <option value="pictures">Pictures</option>
                            <option value="software">Software</option>
                            <option value="tv">TV shows</option>
                        </select>
                        <input type="hidden" name="plugins" value="all"/>
                        <button>Search</button>
                    </form>
                </div>
            </div>
            <p class="title-secondary-text">Torrent contents explorer - open files in browser, no need to download to PC</p>
        </div>
        <div class="header-image-remainder-space"></div>
    </header>

    <div id="status_text">Loading...</div>

    <label for="show-rutracker-flag" title="Rutracker is great, but it mostly only has russian-translated stuff, so you may find it's results irrelevant">Show Rutracker</label>
    <input id="show-rutracker-flag" type="checkbox" checked="checked"/>

    <table class="resulting-list-of-torrents">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Leechers</th>
                <th>Seeders</th>
                <th>Magnet (Download) Link</th>
                <th>View in Tracker</th>
            </tr>
        </thead>
        <tbody id="search_results_list"></tbody>
    </table>

<script type="module" src="./search.js"></script>

<script src="https://klesun-misc.github.io/dev_data/common/js/Tls.js"></script>

</body>